@model IEnumerable<MVCDemo1.Models.Employee>

@{
    ViewBag.Title = "AllEmpDetails";
}

<h2>AllEmpDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salaray)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salaray)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeid })
        </td>
    </tr>
}

</table>
